.divider {
  /* minor cosmetics */
  display: table;
  font-size: 24px;
  text-align: center;
  width: 75%; /* divider width */
  margin: 40px auto; /* spacing above/below */
}
.divider span {
  display: table-cell;
  position: relative;
}
.divider span:first-child,
.divider span:last-child {
  width: 50%;
  top: 13px; /* adjust vertical align */
  -moz-background-size: 100% 2px; /* line width */
  background-size: 100% 2px; /* line width */
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}
.divider span:first-child {
  /* color changes in here */
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(transparent),
    to(#4c4c4c)
  );
  background-image: -webkit-linear-gradient(180deg, transparent, #4c4c4c);
  background-image: -moz-linear-gradient(180deg, transparent, #4c4c4c);
  background-image: -o-linear-gradient(180deg, transparent, #4c4c4c);
  background-image: linear-gradient(90deg, transparent, #4c4c4c);
}
.divider span:nth-child(2) {
  color: #4c4c4c;
  padding: 0px 5px;
  width: auto;
  white-space: nowrap;
}
.divider span:last-child {
  /* color changes in here */
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#4c4c4c),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(180deg, #4c4c4c, transparent);
  background-image: -moz-linear-gradient(180deg, #4c4c4c, transparent);
  background-image: -o-linear-gradient(180deg, #4c4c4c, transparent);
  background-image: linear-gradient(90deg, #4c4c4c, transparent);
}
