

      a {
        text-decoration: none;
        color: #000;
      }

      .home {
        position: relative;
        width: 100%;
        height: 100%;
        font-family: Helvetica;
        background-color: #f9f9fb;
      }

      .home-container {
        width: 1100px;
        margin: 0 auto;
      }

      .home-title {
        font-size: 40px;
        font-weight: bold;
        color: #1d262b;
        text-align: center;
      }


      .text-blue {
        color: #3772ff;
      }

      //img

      .home-img {
        position: absolute;
        top: 0;
        right: 308px;
        img {
          width: 216px;
        }
      }

      .home-img-left {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        img {
          width: 400px;
        }
      }

      .home-img-right {
        position: absolute;
        z-index: 1;
        top: 200px;
        right: 0;
        img {
          width: 500px;
        }
      }


      //header

      .header {
        position: relative;
        z-index: 11;
        width: 100%;
        box-sizing: border-box;
        padding: 23px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .header-container {
        width: 1200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      .header-logo {
        width: 215px;
        cursor: pointer;
      }

      .header-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: Helvetica;
        font-size: 14px;
        font-weight: bold;
      }

      .header-tab {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 10px;
      }

      .header-tab-item {
        cursor: pointer;
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        button {
          cursor: pointer;
          width: 100px;
          height: 35px;
          border-radius: 5px;
          background-color: #3772ff;
          font-size: 14px;
          font-weight: bold;
          color: white;
        }
      }


      .header-item-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 0;
      }

      .header-item-drop {
        position: absolute;
        top: 30px;
        padding: 30px 44px 34px 30px;
        border-radius: 15px;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
        background-color: white;
      }

      .header-item-arrow {
        margin-left: 6px;
        width: 10px;
        height: 7px;
        background: url("../assets/header/arrow-bottom.png")no-repeat;
        background-size: 100% 100%;
      }


      .header-tab-item:hover {
        span {
          color: #3772ff;
        }
        .header-item-arrow {
          background: url("../assets/header/arrow-bottom-active.png")no-repeat;
          background-size: 100% 100%;
        }
      }


      .header-drop {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
      }


      .header-drop-map {
        padding: 30px;
      }

      .header-drop-map-h5 {
        left: -100px;
      }


      .header-drop-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        span {
          font-family: Helvetica;
          font-size: 14px;
          padding-left: 6px;
          white-space:nowrap;
          color: black !important;
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }

      .header-drop-beta {
        width: 35px !important;
        height: 18px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 3px !important;
        background: rgba(0,0,0,0.10) !important;
        font-size: 12px !important;
        color: white !important;
        padding-left: 0 !important;
        margin-bottom: 10px;
        margin-left: 5px;
        font-weight: 0 !important;
      }

      .header-drop-item-bridge {
        padding-right:124px;
      }

      .header-drop-item-dao {
        padding-right: 129px;
      }

      .header-drop-item-one {
        padding-right: 50px;
      }

      .header-drop-item-vault {
        padding-right: 145px;
      }

      .header-drop-item-three {
        padding-right: 41px;
      }

      .header-drop-item-map {
        padding: 0;
      }


      .header-relayer-icon {
        width: 16px;
        height: 16px;
        background: url("../assets/header/relayer.png")no-repeat;
        background-size: 100% 100%;
      }

      .header-bridge-icon {
        background: url("../assets/header/bridge.png")no-repeat;
        background-size: 100% 100%;
      }

      .header-white-icon {
        background: url("../assets/header/whitepaper.png")no-repeat;
        background-size: 100% 100%;
      }

      .header-vault-icon {
        background: url("../assets/header/vault.png")no-repeat;
        background-size: 100% 100%;
      }

      .header-mapscan-icon {
        background: url("../assets/header/mapscan.png")no-repeat;
        background-size: 100% 100%;
      }

      .header-validator-icon {
        background: url("../assets/header/validator.png")no-repeat;
        background-size: 100% 100%;
      }

      .header-defi-icon {
        background: url("../assets/header/defi.png")no-repeat;
        background-size: 100% 100%;
      }

      .header-forum-icon {
        background: url("../assets/header/forum.png")no-repeat;
        background-size: 100% 100%;
      }

      .header-dao-icon {
        background: url("../assets/header/dao.png")no-repeat;
        background-size: 100% 100%;
      }

      .header-hiveswap-icon {
        background: url("../assets/header/hiveswap.png")no-repeat;
        background-size: 100% 100%;
      }

      .header-idavoll-icon {
        background: url("../assets/header/idvoll.png")no-repeat;
        background-size: 100% 100%;
      }

      .header-befi-icon {
        background: url("../assets/header/befi.png")no-repeat;
        background-size: 100% 100%;
      }

      .header-docs-icon {
        background: url("../assets/header/docs.png")no-repeat;
        background-size: 100% 100%;
      }

      .header-github-icon {
        background: url("../assets/header/github.png")no-repeat;
        background-size: 100% 100%;
      }

      .header-drop:nth-child(2) {
        padding-top: 30px;
      }

      .header-drop:nth-child(3) {
        padding-top: 30px;
      }

      .header-drop:nth-child(4) {
        padding-top: 30px;
      }


      .header-drop-item:hover {

        span{
          color: #3772ff !important;
        }
        .header-relayer-icon {
          background: url("../assets/header/relayer-hover.png")no-repeat;
          background-size: 100% 100%;
        }

        .header-mapscan-icon {
          background: url("../assets/header/mapscan-hover.png")no-repeat;
          background-size: 100% 100%;
        }

        .header-vault-icon {
          background: url("../assets/header/vault-hover.png")no-repeat;
          background-size: 100% 100%;
        }

        .header-bridge-icon {
          background: url("../assets/header/bridge-hover.png")no-repeat;
          background-size: 100% 100%;
        }


        .header-validator-icon {
          background: url("../assets/header/validator-hover.png")no-repeat;
          background-size: 100% 100%;
        }

        .header-defi-icon {
          background: url("../assets/header/defi-hover.png")no-repeat;
          background-size: 100% 100%;
        }

        .header-forum-icon {
          background: url("../assets/header/forum-hover.png")no-repeat;
          background-size: 100% 100%;
        }

        .header-dao-icon {
          background: url("../assets/header/dao-hover.png")no-repeat;
          background-size: 100% 100%;
        }

        .header-hiveswap-icon {
          background: url("../assets/header/hiveswap-hover.png")no-repeat;
          background-size: 100% 100%;
        }

        .header-idavoll-icon {
          background: url("../assets/header/idvoll-hover.png")no-repeat;
          background-size: 100% 100%;
        }

        .header-befi-icon {
          background: url("../assets/header/befi-hover.png")no-repeat;
          background-size: 100% 100%;
        }

        .header-docs-icon {
          background: url("../assets/header/docs-hover.png")no-repeat;
          background-size: 100% 100%;
        }

        .header-github-icon {
          background: url("../assets/header/github-hover.png")no-repeat;
          background-size: 100% 100%;
        }

        .header-white-icon {
          background: url("../assets/header/whitepaper-hover.png")no-repeat;
          background-size: 100% 100%;
        }


      }

      .header-launch {
          cursor: pointer;
          font-family: Helvetica;
          font-size: 14px;
          color: white;
          padding: 12px 20px;
          border-radius: 5px;
        background-image: linear-gradient(to right, rgb(248, 77, 57) 0%, rgb(255, 178, 0) 100%), linear-gradient(to right, rgb(228, 78, 58) 0%, rgb(255, 177, 0) 100%), linear-gradient(to bottom, rgb(29, 37, 43), rgb(29, 37, 43));
      }


      .header-menu {
        display: none;
      }

      .header-tab-h5 {
        position: fixed;
        top: 58px;
        width: 100%;
        height: 100%;
        left: 0;
        z-index: 10;
        background: rgba(34, 34, 34, 0.8);

        .header-tab_content{
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: white;
          a {
            text-decoration: none;
            color: black;
          }

          a:hover {
            color: #ECC011;
          }
        }


      }

      .header-list-text {
        cursor: pointer;
        margin-left: 49px;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        font-size: 16px;
        img {
          width: 51px;
          height: 4px;
          position: absolute;
          bottom: -16px;
        }
      }

      .header-tab-title {
        width: 80%;
        padding: 10px 0;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        text-align: center;
        color: black;
        //color: ;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        img {
          margin-left: 10px;
          width: 10px;
        }
      }


      .header-tab-show {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .header-tab-title {
          color: #3772ff;
          font-weight: bold;
        }
      }


      .header-list-text-s {
        color: #ECC011;
      }

      .header-list-text:hover {
        color: #FACB4E;
      }

      .header-line {
        width: 100%;
        border-bottom:1px solid gainsboro;
      }



      //cross

      .cross {
        padding-top: 150px;
        position: relative;
        z-index: 10;
      }

      .cross-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .cross-title {
        position: relative;
        z-index: 9;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        span:nth-child(1) {
          width: 88%;
          background: linear-gradient(107deg, #3772ff 17%, #2c3942 81%), linear-gradient(to bottom, #2b3942, #2b3942, #2e3c45, #a2a7c0);
          -webkit-text-fill-color: transparent;
          background-clip: text;
          -webkit-background-clip: text;
          font-size: 42px;
          font-weight: bold;
          text-align: center;
          line-height: 1.46;
        }

        span:nth-child(2) {
          padding-top: 30px;
          background: linear-gradient(180deg,#2b3942 50%,  #2b3942 50%), linear-gradient(to bottom, #2b3942, #2b3942, #2e3c45, #a2a7c0);;
          //background: linear-gradient(to bottom, #2b3942 114%, #2b3942 114%, #2e3c45 114%, #a2a7c0 -14%);
          -webkit-text-fill-color: transparent;
          background-clip: text;
          -webkit-background-clip: text;
          font-size: 24px;
          font-weight: bold;
          line-height: 1.61;
          text-align: center;
        }

      }

      .cross-btn {
        padding-top: 66px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
        a {
          color: white;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 130px;
          height: 45px;
          border-radius: 5px;
          cursor: pointer;
          background: linear-gradient(to bottom, #2c3942, #2c3942), linear-gradient(to left, #5e686f, #2a3741 0%);
        }
        a:nth-child(2) {
          margin-left: 50px;
        }
        a:hover {
          background: #3772ff;
        }
      }


      //map

      .map {
        padding-top: 150px;
        position: relative;
        z-index: 10;
      }

      .map-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 100%;
        }
      }

      .map-title {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
      }

      .map-left {
        padding-top: 44px;
        width: 95%;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.56;
        text-align: center;
      }

      .map-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
      }

      .map-right-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        //justify-content: space-between;
      }

      .map-right-content-h5 {
        display: none;
      }

      .map-right-content:nth-child(2) {
        //padding-top: 50px;
      }

      .map-right-item {
        width: 50%;
        height: 170px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        text-align: center;
        color: #3772ff;
        background: url("../assets/map/bg-one.png")no-repeat;
        background-size: 100% 100%;
        padding: 23px 58px 29px 20px;
        box-sizing: border-box;
        img {
          width: 64px;
        }
      }

      .map-right-item-two {
        width: 100%;
        background: url("../assets/map/bg-two.png")no-repeat;
        background-size: 100% 100%;
      }

      .map-item-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      .map-item-text {
        padding-left: 19px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        span:nth-child(1) {
          font-size: 24px;
          font-weight: bold;
          color: #3772ff;
        }
        span:nth-child(2) {
          padding-top: 10px;
          opacity: 0.7;
          font-size: 14px;
          line-height: 1.43;
          color: #1d262b;
          text-align: left;
        }
      }


      //technical

      .technical {
        padding-top: 98px;
        position: relative;
      }

      .technical-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 10;
      }

      .technical-title {
        margin-bottom: -36px;
      }

      .tech-text {
        padding-top: 29px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
      }

      .technical-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          width: 80%;
        }
      }

      .technical-img-left {
        position: absolute;
        left: 0;
        top: 200px;
        img {
          width: 445px;
        }
      }

      .technical-img-right {
        position: absolute;
        right: 0;
        top: -100px;
        img {
          width: 233px;
        }
      }

      //compar

      .compar {
        position: relative;
      }

      .compar-img {
        img {
          width: 90%;
        }
      }

      .compar-img-left {
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: -200px;
        img {
          width: 200px;
        }
      }



      //chain

      .chain {
        position: relative;
        padding-top: 140px;
      }

      .chain-content {
        display: flex;
        flex-direction: column;
      }

      .chain-top {

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        img {
          position: relative;
          z-index: 1;
          width: 520px;
        }
      }

      .chain-top-title {
        width: 48%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        span:nth-child(1) {
          font-size: 40px;
          font-weight: bold;
        }
        span:nth-child(2) {
          padding-top: 41px;
          font-size: 16px;
          font-weight: bold;
          line-height: 2.19;
        }
      }

      .chain-img2 {
        position: relative;
        z-index: 2;
        margin-top: -120px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 743px;
        }
      }

      .chain-bottom {
          display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      .chain-bottom-img {
        margin-top: -100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        img {
          width: 85%;
        }
        button {
          cursor: pointer;
          position: absolute;
          z-index: 9;
          top: 100px;
          font-size: 12px;
          font-weight: bold;
          color: white;
          width: 81px;
          height: 27px;
          border-radius: 29.5px;
          background-color: #3772ff;
        }
      }


      .chain-layer {
        margin-left: 16px;
      }

      .chain-layer-item {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .chain-layer-item:nth-child(1) {
        padding-top: 0;
      }

      .chain-layer-title {
        font-size: 20px;
        font-weight: bold;
      }

      .chain-layer-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 3px;
        span:nth-child(1) {
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background: #3872ff;
          margin-right: 9px;
        }
        span:nth-child(2) {
          width: 98%;
          font-size: 12px;
        }
      }
      .chain-layer-text:nth-child(2){
        padding-top: 12px;
      }

      .chain-layer-text-s {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        span:nth-child(1) {
          margin-top: 4px;
        }
      }


      .chain-btn {
        padding-top: 92px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        button {
          cursor: pointer;
          width: 48%;
          height: 80px;
          padding-bottom: 10px;
          background: url("../assets/chain/btn-bg.png")no-repeat;
          background-size: 100% 100%;
          font-size: 20px;
          font-weight: bold;
          color: white;
        }
      }





      //eco
       .eco {
         position: relative;
         padding-top: 114px;
       }

       .eco-content {
         display: flex;
         flex-direction: row;
         align-items: center;
         padding-top: 70px;
       }

       .eco-left {
         img {
           width: 398px;
         }
       }

       .eco-right {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
       }

       .eco-dev {
         display: flex;
         flex-direction: row;
         align-items: flex-start;
       }

       .eco-dev-item {
         position: relative;
         z-index: 10;
         display: flex;
         flex-direction: row;
         align-items: flex-start;
         width: 381px;
         height: 197px;
         background: url("../assets/eco/bg.png")no-repeat;
         background-size: 100% 100%;
         box-sizing: border-box;
         img {
            width: 85px;
         }
       }

       .eco-dev-item-cur {
         padding-left: 20px;
         width: 315px;
         height: 157px;
         cursor: pointer;
         display: flex;
         flex-direction: row;
         align-items: center;
       }

       .eco-dev-item-title {
         padding-left: 15px;
         color: #1d262b;
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         span:nth-child(1){
           font-size: 22px;
           font-weight: bold;
         }
         span:nth-child(2){
           padding-top: 5px;
           opacity: 0.7;
           font-size: 12px;
           line-height: 1.67;
         }
       }

       .eco-text {
         padding-top: 113px;
         display: flex;
         flex-direction: column;
         align-items: center;
         position: relative;
         img {
           position: absolute;
           z-index: 1;
           left: 0;
           top: 40px;
           width: 161px;
         }
         span {
           position: relative;
           z-index: 10;
           width: 90%;
           font-size: 24px;
           font-weight: bold;
           text-align: center;
         }
         button {
           cursor: pointer;
           margin-top: 50px;
           width: 150px;
           height: 50px;
           border-radius: 29.5px;
           background-color: #3772ff;
           font-size: 16px;
           font-weight: bold;
           color: #fff;

         }
       }

       .eco-img-right {
         z-index: 1;
         position: absolute;
         right: 0;
         top: 600px;
         img {
           width: 363px;
         }
       }


       //roadmap-img

      .roadmap {
        padding-top: 128px;
        position: relative;
      }

      .roadmap-img {
        padding-top: 76px;
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .roadmap-img-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
      }

      .roadmap-img-top-item {
        width: 50%;
        height: 319px;
        background: url("../assets/roadmap/img1.png")no-repeat;
        background-size: 100% auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 32px;
        font-weight: bold;
        //padding: 36px 0 0 39px;
        box-sizing: border-box;
        //cursor: pointer;
        img {
          margin-top: 15px;
          width: 59px;
        }
      }

      .roadmap-img-top-text {
        padding: 36px 0 0 39px;
        width: 480px;
        height: 240px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        cursor: pointer;
      }

      .roadmap-img-top-text-two {
        padding: 36px 0 0 39px;
        width: 93%;
      }

      .roadmap-img-top-item-two {
        background: url("../assets/roadmap/img2.png")no-repeat;
        background-size: 100% auto;
      }

      .roadmap-img-bottom {
        width: 100%;
        height: 319px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: url("../assets/roadmap/img3.png")no-repeat;
        background-size: 100% auto;
        font-size: 32px;
        font-weight: bold;
        //padding: 36px 0 0 39px;
        box-sizing: border-box;
        img {
          margin-top: 15px;
          width: 59px;
        }
      }

      .roadmap-left {
        position: absolute;
        left: 0;
        top: 500px;
        img {
          width: 348px;
        }
      }


      //.new-img-right

      .new-bg {
        position: relative;
      }

      .new-img-right {
        position: absolute;
        z-index: 1;
        right: 0;
        top: -150px;
        img {
          width: 380px;
        }
      }

      .footer-img-left {
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 0;
        img {
          width: 350px;
        }
      }





    @media (max-width: 1200px) {

      .header {
        padding: 23px 0;
      }

      .header-container {
        width: 90%;
      }

      .home-container {
        width: 90%;
      }


    }


      @media (max-width: 960px) {

        .home-title {
          font-size: 26px;
        }

        //header
        .header-tab {
          display: none;
        }
        .header-menu {
          display: block;
          img {
            width: 30px;
            margin-left: 20px;
          }
        }

        .home-img-left {
          img {
            width: 200px;
          }
        }
        .home-img-right {
          width: 80%;
          img {
            width: 100%;
          }
        }

        //cross
        .cross{
          padding-top: 80px;
        }

        .cross-content {
          width: 100%;
        }

        .cross-btn {
          padding-top: 50px;
          a {
            font-size: 12px;
            width: 100px;
            height: 35px;
          }
        }

        .cross-title {
          padding-top: 0;
          span:nth-child(1) {
            font-size: 20px;
            width: 100%;
          }
          span:nth-child(2) {
            padding-top: 20px;
            font-size: 14px;
            line-height: 1.3;
          }
        }

        //map

        .map {
          padding-top: 110px;
        }

        .map-content {
          width: 100%;
          img {
            width: 100%;
          }
        }


        .map-right {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .map-title {
          font-size: 16px;
        }

        .map-right {
          padding-top: 40px;
        }

        .map-right-item {
          width: 100%;
          height: 180px;
          img {
            width: 60px;
          }
          span {
            font-size: 20px;
          }
        }

        .map-right-item-two {
          height: 290px;
        }

        .map-item-text {
          span:nth-child(1) {
            font-size: 18px;
          }
          span:nth-child(2) {
            font-size: 12px;
            line-height:1.3 ;
          }
        }


        .map-right-content {
          //display: none;
          display: flex;
          flex-direction: column;
          align-items: center;
        }


        .map-right-content-h5 {
          display: flex;
        }

        .map-right-content-h5:nth-child(3){
          width: 60%;
          padding-top: 30px;
        }

        //.map-right-content:nth-child(2) {
        //  padding-top: 30px;
        //}

        .map-left {
          font-size: 12px;
          line-height: 1.8;
        }

        //technical

        .tech-text {
          font-size: 14px;
        }

        .technical-img {
          img {
            width: 100%;
          }
        }

        .technical-img-right {
          img {
            width: 150px;
          }
        }

        .technical-img-left {
          display: none;
          img {
            width: 200px;
          }
        }

        //technical
        .technical {
          padding-top: 50px;
        }



        //eco

        .eco {
          padding-top: 70px;
        }

        .eco-content {
          padding-top: 30px;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        .eco-dev-item {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          width: 182px;
          height: 190px;
          //padding: 21px 17px 24px 10px;
          img {
            width: 40px;
          }
          span:nth-child(1) {
            font-size: 14px;
          }
          span:nth-child(2) {
            line-height: 1.3;
          }
        }

        .eco-dev-item-cur {
          padding-left: 10px;
          width: 140px;
        }

        .eco-right {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .eco-text  {
          padding-top: 80px;
        }

        .eco-left {
          display: none;
        }


        .eco-img-right {
          display: none;
          img {
            width: 100px;
          }
        }

        .eco-text {
          img {
            width: 100px;
          }
          span {
            font-size: 20px;
          }
        }

        .technical-content {
          .home-title {
            width: 70%;
          }
        }

        .compar-img-left {
          display: none;
        }

        //chain

        .chain {
          padding-top: 70px;
        }

        .chain-top {
          display: flex;
          flex-direction: column;
          align-items: center;
          img{
            margin-top: 20px;
            width: 100%;
          }
        }

        .chain-top-title {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          text-align: center;
          span:nth-child(1){
            font-size: 26px;
            text-align: center;
          }
          span:nth-child(2) {
            text-align: left;
            font-size: 12px;
            line-height: 2;
            padding-top: 15px;
          }
        }

        .chain-img2 {
          margin-top: 30px;
          img {
            width: 100%;
          }
        }

        .chain-bottom {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .chain-bottom-img {
          top: 55px;
          button {
            top: 45px;
            width: 50px;
            height: 20px;
          }
          img {
            width: 100%;
          }
        }

        .chain-layer {
          margin-left: 0;
          padding-top: 40px;
        }

        .chain-layer-item {
          padding-top: 30px;
        }

        .chain-btn {
          padding-top: 40px;
          button {
            height: 60px;
            font-size: 16px;
          }
        }


        //roadmap
        .roadmap {
          padding-top: 70px;
        }

        .roadmap-left {
          top: 550px;
          img {
            width: 150px;
          }
        }

        .roadmap-img {
          padding-top: 40px;
        }

        .roadmap-img-top-item {

          font-size: 14px;
          height: 100px;
          img {
            margin-top: 10px;
            width: 40px;
          }
        }

        .roadmap-img-top-text {
          width: 95%;
          padding: 10px;
        }

        .roadmap-img-bottom {
          padding: 10px;
          font-size: 14px;
          height: 100px;
          img {
            margin-top: 10px;
            width: 40px;
          }
        }

        .partner {
          padding-top: 50px;
        }


        .cross-title {
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            width: 90%;
          }
        }

        .new-img-right {
          img {
            width: 200px;
          }
        }


      }




