body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
ol,
ul,
li {
  list-style: none;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
caption,
th {
  text-align: left;
}
q:before,
q:after {
  content: '';
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}
/*宽度*/
/*字体*/
/*字号*/
/*颜色*/
* {
  margin: 0;
  padding: 0;
}
/*通用，页面宽度100%*/
html,
body {
  width: 100%;
  font-size: 14px Microsoft YaHei DIN Lantinghei SC Baskervill;
  font-family: PingFang SC;
  font-weight: 400;
  color: #222C49;
  background-color: #E9EBF0;
}
/*每个100%元素下有固定宽度，居中对齐：
小于等于1024px默认1024px，其中banner为1024宽度，非banner在1024范围内959居中对齐。
大于1024默认1265px，其中banner为1265宽度，非banner在1265宽度内1200居中对齐。
*/
.layout-main {
  margin: 0 auto;
  width: 1265px;
}
@media screen and (max-width: 1024px) {
  .layout-main {
    width: 994px;
  }
}
/*头部*/
header {
  width: 100%;
  min-width: max-content;
  min-width: -moz-max-content;
  height: auto;
  border-bottom: 1px solid #495478;
  background-color: #202A43;
}
header .ctx-main {
  width: 1200px;
  margin: 0 auto;
}
header .header-logo {
  display: inline-block;
  width: 197px;
  height: 59px;
  margin: 22px 0 21px 4px;
  background-image: url('../images/header-logo.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
header .header-menu {
  display: inline-block;
  float: right;
  text-align: center;
  margin: 32px 0.38% 22px 0;
}
header .header-menu li {
  display: inline-block;
  min-width: 80px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #FEFEFF;
  line-height: 50px;
  margin-left: 25px;
}
header .header-menu li:last-child {
  min-width: 166px;
}
header .header-menu li p {
  line-height: 24px;
  cursor: pointer;
}
header .header-menu li p span:hover,
header .header-menu li p span:active,
header .header-menu li p span.active {
  color: #7B54F7;
}
header .header-menu li p.defaultCursor {
  font-size: 13px;
  font-family: DIN;
  font-weight: 400;
  color: #FEFEFF;
  opacity: 0.46;
  cursor: default;
}
header .header-menu li p.defaultCursor span:hover,
header .header-menu li p.defaultCursor span:active,
header .header-menu li p.defaultCursor span.active {
  color: #FEFEFF;
}
@media screen and (max-width: 1024px) {
  header .ctx-main {
    width: 959px;
    margin: 0 auto;
  }
}
/*Banner层*/
section.nav {
  width: 100%;
  min-width: max-content;
  min-width: -moz-max-content;
  border-top: 1px solid #212A48;
  background-color: #202A43;
}
section.nav .layout-main {
  position: relative;
  height: 581px;
}
section.nav .layout-main .layout-v-line {
  width: 34px;
  height: 1px;
  background-color: #5D6A94;
  position: absolute;
  bottom: 124px;
  left: 0;
}
section.nav .layout-main .layout-s-line {
  width: 1px;
  height: 60px;
  background-color: #5D6A94;
  position: absolute;
  bottom: 114px;
  left: 16px;
}
section.nav .layout-main .layout-banner-lt {
  background: url('../images/banner_lt.png') no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 671px;
  height: 581px;
  left: 0;
  top: 0;
  z-index: 1;
}
section.nav .layout-main .layout-animate0 {
  background: url('../images/lattice_bg.png') no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 744px;
  height: 451px;
  right: 0;
  top: 93px;
  z-index: 1;
}
section.nav .layout-main .layout-animate1 {
  background: url('../images/floating_lattice.png') no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 314px;
  height: 259px;
  right: 236px;
  top: 42px;
  z-index: 15;
  animation: moveOne 2s infinite;
  -webkit-animation: moveOne 2s infinite;
  /*Safari and Chrome*/
}
@keyframes moveOne {
  0% {
    top: 20px;
  }
  50% {
    top: 42px;
  }
  100% {
    top: 20px;
  }
}
@-webkit-keyframes moveOne {
  /*Safari and Chrome*/
  0% {
    top: 20px;
  }
  50% {
    top: 42px;
  }
  100% {
    top: 20px;
  }
}
section.nav .layout-main .layout-animate2 {
  background: url('../images/lattice_rb.png') no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 129px;
  height: 163px;
  right: 48px;
  top: 325px;
  z-index: 10;
  animation: moveTwo 2.2s infinite;
  -webkit-animation: moveTwo 2.2s infinite;
  /*Safari and Chrome*/
}
@keyframes moveTwo {
  0% {
    top: 315px;
  }
  50% {
    top: 325px;
  }
  100% {
    top: 315px;
  }
}
@-webkit-keyframes moveTwo {
  /*Safari and Chrome*/
  0% {
    top: 315px;
  }
  50% {
    top: 325px;
  }
  100% {
    top: 315px;
  }
}
section.nav .layout-main .layout-animate3 {
  background: url('../images/lattice_rt.png') no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 30px;
  height: 100px;
  right: 192px;
  top: 19px;
  z-index: 10;
}
section.nav .layout-main .layout-animate4 {
  background: url('../images/lattice_lb.png') no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 128px;
  height: 187px;
  right: 500px;
  top: 393px;
  z-index: 10;
  animation: moveFour 1s infinite;
  -webkit-animation: moveFour 1s infinite;
  /*Safari and Chrome*/
}
@keyframes moveFour {
  0% {
    top: 383px;
  }
  50% {
    top: 393px;
  }
  100% {
    top: 383px;
  }
}
@-webkit-keyframes moveFour {
  /*Safari and Chrome*/
  0% {
    top: 383px;
  }
  50% {
    top: 393px;
  }
  100% {
    top: 383px;
  }
}
section.nav .layout-main .layout-animate5 {
  background: url('../images/floating_lettice_2.png') no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 374px;
  height: 220px;
  right: 212px;
  top: 179px;
  z-index: 10;
  -webkit-animation-name: moveFive;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
  -webkit-animation-direction: alternate;
}
@keyframes moveFive {
  0% {
    opacity: 0.5;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.5;
    transform: scale(0.8);
  }
}
@-webkit-keyframes moveFive {
  /*Safari and Chrome*/
  0% {
    opacity: 0.5;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.5;
    transform: scale(0.8);
  }
}
section.nav .layout-main .layout-banner-title {
  background: url('../images/banner_text.png') no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 634px;
  height: 144px;
  left: 20px;
  top: 138px;
  z-index: 10;
}
section.nav .layout-main .layout-banner-title-en {
  background: url('../images/banner_text_en.png') no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 644px;
  height: 117px;
  left: 20px;
  top: 138px;
  z-index: 10;
}
section.nav .layout-main .layout-banner-title-ko {
  background: url('../images/banner_text_ko.png') no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 626px;
  height: 133px;
  left: 20px;
  top: 138px;
  z-index: 10;
}
section.nav .layout-main .layout-banner-remark {
  position: absolute;
  left: 40px;
  top: 282px;
  z-index: 66;
  width: 601px;
  min-height: 100px;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 30px;
  text-indent: 2em;
}
section.nav .layout-main .layout-chain {
  /* width: @ctx1200Width;*/
  position: absolute;
  top: 536px;
  display: block;
  left: 5%;
}
section.nav .layout-main .layout-chain li {
  display: inline-block;
  vertical-align: top;
  width: 14.5%;
  min-height: 388px;
  margin-right: 1.58%;
  border-radius: 12px;
  box-shadow: 0 20px 20px -20px #CCCFD9;
  background-color: #ffffff;
}
section.nav .layout-main .layout-chain h1 {
  width: 100%;
  text-align: center;
  padding: 23px 0;
  font-size: 22px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #222C49;
}
section.nav .layout-main .layout-chain p {
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #222C49;
  line-height: 24px;
  text-align: center;
  padding: 0 16.4%;
}
section.nav .layout-main .layout-chain img {
  display: block;
  width: 90.7%;
  height: auto;
  margin: 2px 12px 0 5px;
}
/*英文版排版*/
.language-en section.nav .layout-main .layout-chain {
  width: 1200px;
  left: 5%;
}
.language-en section.nav .layout-main .layout-chain li {
  width: 32%;
  margin-top: 20px;
  min-height: 318px;
  border-radius: 60px 0;
  box-shadow: 0 20px 20px -20px #B3B6C5;
}
.language-en section.nav .layout-main .layout-chain li.bdOther {
  border-radius: 0 60px;
}
.language-en section.nav .layout-main .layout-chain li img {
  width: 33.8%;
  margin: 0 auto;
}
.language-en section.nav .layout-main .layout-chain li h1 {
  font-size: 24px;
  font-family: Baskervill;
  font-weight: 400;
  color: #222C49;
}
.language-en section.nav .layout-main .layout-chain li p {
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #222C49;
  padding: 0 9.4%;
  text-align: left;
}
.language-en section.nav .layout-main .layout-chain li:nth-child(3n+3) {
  margin-right: 0;
}
@media screen and (max-width: 1024px) {
  section.nav .layout-main .layout-banner-title,
  section.nav .layout-main .layout-banner-title-en {
    width: 513px;
    height: 93px;
    top: 125px;
  }
  section.nav .layout-main .layout-animate0 {
    width: 490px;
    height: 297px;
  }
  section.nav .layout-main .layout-animate1 {
    width: 203px;
    height: 167px;
    right: 14.6%;
    top: 67px;
    animation: move1024One 2s infinite;
    -webkit-animation: move1024One 2s infinite;
    /*Safari and Chrome*/
  }
  @keyframes move1024One {
    0% {
      top: 47px;
    }
    50% {
      top: 67px;
    }
    100% {
      top: 47px;
    }
  }
  @-webkit-keyframes move1024One {
    /*Safari and Chrome*/
    0% {
      top: 47px;
    }
    50% {
      top: 67px;
    }
    100% {
      top: 47px;
    }
  }
  section.nav .layout-main .layout-animate2 {
    width: 83px;
    height: 82px;
    right: 3.79%;
    top: 250px;
    animation: move1024Two 2.2s infinite;
    -webkit-animation: move1024Two 2.2s infinite;
    /*Safari and Chrome*/
  }
  @keyframes move1024Two {
    0% {
      top: 240px;
    }
    50% {
      top: 250px;
    }
    100% {
      top: 240px;
    }
  }
  @-webkit-keyframes move1024Two {
    /*Safari and Chrome*/
    0% {
      top: 240px;
    }
    50% {
      top: 240px;
    }
    100% {
      top: 250px;
    }
  }
  section.nav .layout-main .layout-animate3 {
    width: 19px;
    height: 64px;
    right: 151px;
  }
  section.nav .layout-main .layout-animate4 {
    width: 82px;
    height: 120px;
    right: 34.5%;
    top: 272px;
    animation: move1024Four 1s infinite;
    -webkit-animation: move1024Four 1s infinite;
    /*Safari and Chrome*/
  }
  @keyframes move1024Four {
    0% {
      top: 262px;
    }
    50% {
      top: 272px;
    }
    100% {
      top: 262px;
    }
  }
  @-webkit-keyframes move1024Four {
    /*Safari and Chrome*/
    0% {
      top: 262px;
    }
    50% {
      top: 272px;
    }
    100% {
      top: 262px;
    }
  }
  section.nav .layout-main .layout-animate5 {
    width: 203px;
    height: 129px;
    right: 148px;
    top: 162px;
    -webkit-animation-name: moveFive;
  }
  section.nav .layout-main .layout-chain {
    text-align: center;
    left: 2%;
  }
  section.nav .layout-main .layout-chain li {
    width: 15%;
    margin-right: 1%;
  }
  section.nav .layout-main .layout-chain li:last-child {
    margin-right: 0;
  }
  .language-en section.nav .layout-main .layout-chain {
    width: 959px;
    left: 2%;
  }
  .language-en section.nav .layout-main .layout-chain li {
    width: 32%;
    margin-right: 1%;
  }
}
/*点对点*/
section.points {
  width: 100%;
  padding-top: 472px;
  padding-bottom: 113px;
}
section.points .ctx-main {
  width: 1200px;
  margin: 0 auto;
}
section.points .points-title {
  text-align: center;
  font-size: 40px;
  font-family: PingFang SC;
  font-weight: 600;
  color: #141927;
}
section.points .title-left,
section.points .title-right {
  display: inline-block;
  vertical-align: middle;
  width: 250px;
  height: 19px;
  background-image: url('../images/icon_line.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
section.points .title-left {
  margin-right: 13px;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
section.points .title-right {
  margin-left: 13px;
}
section.points img {
  display: block;
  /*width: 989px;
    height: 179px;*/
  width: 78.2%;
  height: auto;
  margin: 96px auto 30px auto;
}
section.points .points-left,
section.points .points-center,
section.points .points-right {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #141927;
  line-height: 30px;
}
section.points .points-left p,
section.points .points-center p,
section.points .points-right p {
  padding-left: 19px;
}
section.points .points-left {
  width: 382px;
  margin-right: 35px;
}
section.points .points-left p {
  background: url('../images/icon_point_a.png') 0 12px no-repeat;
}
section.points .points-center {
  width: 428px;
  margin-right: 58px;
}
section.points .points-center p {
  background: url('../images/icon_point_a.png') 0 12px no-repeat;
}
section.points .points-right {
  width: 293px;
}
section.points .points-right p {
  background: url('../images/icon_point_a.png') 0 12px no-repeat;
}
/*英文版排版*/
.language-en section.points {
  padding-top: 754px;
}
.language-en section.points .points-title span {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0;
  font-size: 34px;
  font-family: DIN;
  font-weight: 400;
  color: #222C49;
}
.language-en section.points .title-left {
  margin-left: 0;
}
.language-en section.points .title-left,
.language-en section.points .title-right {
  width: 180px;
  height: 13px;
  background-size: 100% 100%;
}
.language-en section.points .points-left p,
.language-en section.points .points-center p,
.language-en section.points .points-right p {
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 25px;
}
@media screen and (max-width: 1024px) {
  section.points .ctx-main {
    width: 959px;
    margin: 0 auto;
  }
  section.points .points-title span {
    font-size: 30px;
  }
  section.points .title-left,
  section.points .title-right {
    width: 202px;
    height: 15px;
  }
  section.points .points-left {
    font-size: 13px;
    width: 309px;
    margin-right: 15px;
  }
  section.points .points-center {
    font-size: 13px;
    width: 352px;
    margin-right: 10px;
  }
  section.points .points-right {
    font-size: 13px;
    width: 225px;
  }
  .language-en section.points .title-left,
  .language-en section.points .title-right {
    width: 0;
  }
}
/*社区激励*/
section.impare {
  width: 100%;
  min-width: max-content;
  min-width: -moz-max-content;
  height: 635px;
  background-color: #3C4973;
}
section.impare .ctx-main {
  width: 1200px;
  margin: 0 auto;
}
section.impare .impare-title {
  text-align: center;
  font-size: 40px;
  font-family: PingFang SC;
  font-weight: 600;
  color: #ffffff;
  padding-top: 79px;
}
section.impare .title-left,
section.impare .title-right {
  display: inline-block;
  vertical-align: middle;
  width: 64px;
  height: 15px;
  background-image: url('../images/icon_3cricle.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
section.impare .title-left {
  margin-right: 13px;
}
section.impare .title-right {
  transform: rotate(180deg);
  margin-left: 13px;
}
section.impare .layout-impare {
  display: block;
  margin-top: 86px;
}
section.impare .layout-impare li {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  height: 273px;
  border: 1px solid #151F3C;
  margin-right: 3.2%;
  position: relative;
  z-index: 20;
}
section.impare .layout-impare li .border-absoute {
  position: absolute;
  top: -10px;
  left: -9px;
  width: 100%;
  height: 273px;
  border: 1px solid #ffffff;
  z-index: 1;
}
section.impare .layout-impare li:last-child {
  margin-right: 0;
}
section.impare .layout-impare h1 {
  text-align: center;
  font-size: 30px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #ffffff;
}
section.impare .layout-impare p {
  font-family: Lantinghei SC;
  font-weight: 600;
  font-size: 16px;
  color: #AEB8D9;
  line-height: 25px;
  padding-top: 15px;
  text-align: center;
  width: 178px;
  margin: 0 auto;
}
section.impare .layout-impare img {
  display: block;
  width: 65px;
  height: 66px;
  margin: 44px auto 29px auto;
}
/*英文版排版*/
.language-en .impare .impare-title {
  font-family: DIN;
  font-weight: 400;
}
.language-en .impare .layout-impare h1 {
  font-size: 24px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #8A98FF;
}
.language-en .impare .layout-impare p {
  padding: 15px 7.8% 0 7.8%;
  text-align: left;
  width: auto;
}
@media screen and (max-width: 1024px) {
  section.impare .ctx-main {
    width: 959px;
    margin: 0 auto;
  }
  section.impare .layout-impare h1 {
    font-size: 24px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #8A98FF;
  }
  section.impare .layout-impare p {
    padding: 15px 7.8% 0 7.8%;
    text-align: left;
    width: auto;
  }
}
/*路线图*/
section.line-map {
  width: 100%;
  height: 1081px;
  text-align: center;
  /* .layout-main {
    width: 88.7%;
    margin: 0 auto;
  }*/
}
section.line-map .ctx-main {
  width: 88.7%;
  max-width: 1200px;
  margin: 0 auto;
}
section.line-map .map-title {
  padding-top: 66px;
  padding-bottom: 61px;
  font-size: 40px;
  font-family: Lantinghei SC;
  font-weight: 600;
  color: #1D1D1D;
}
section.line-map .map-level {
  clear: both;
  min-height: 208px;
  position: relative;
}
section.line-map .map-level-time {
  background-color: #855CFD;
  background-image: linear-gradient(to right, #855CFD, #3E20D2);
  font-size: 20px;
  font-family: Lantinghei SC;
  font-weight: 600;
  color: #ffffff;
  padding: 12px 32px;
}
section.line-map .level1 {
  border-right: 1px dashed #4443ff;
  border-radius: 0 100px 100px 0;
  border-top: 1px dashed #4443ff;
  /* &:after {
      content: '';
      position: absolute;
      bottom: 11px;
      right: 11px;
      border-radius: 50%;
      width: 100px;
      height: 25px;
      border-bottom: 1px dashed #4443ff;
      transform: rotate(-28deg);
    }*/
}
section.line-map .level1 .map-level-time {
  position: absolute;
  top: -24px;
  left: 0;
  min-width: 168px;
  border-radius: 0 20px 0 20px;
}
section.line-map .level1 .map-level-yuan {
  width: 29px;
  position: absolute;
  height: 44px;
  background-color: #E9EBF0;
  left: 234px;
  top: -24px;
}
section.line-map .level1 .map-level-yuan span {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: #3E20D2;
  border-radius: 50%;
  margin-top: 17px;
}
section.line-map .level1 .map-level-title {
  font-size: 30px;
  font-family: Lantinghei SC;
  font-weight: 600;
  color: #1A2444;
  padding-top: 30px;
  padding-left: 74px;
  text-align: left;
}
section.line-map .level1 .map-level-content {
  width: 85%;
  font-size: 20px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #1A2444;
  padding-left: 74px;
  text-align: left;
  line-height: 36px;
  margin-top: 10px;
}
section.line-map .level2 {
  border-left: 1px dashed #4443ff;
  border-radius: 100px 0 0 100px;
  border-top: 1px dashed #4443ff;
  width: 75.2%;
  float: right;
  /*  margin-right: 100px;*/
  margin-right: 90px;
}
section.line-map .level2 .map-level-time {
  position: absolute;
  top: 26px;
  left: 35px;
  min-width: 168px;
  border-radius: 20px 0 20px 0;
}
section.line-map .level2 .map-level-yuan {
  width: 29px;
  position: absolute;
  height: 30px;
  background-color: #E9EBF0;
  left: 0;
  top: 27px;
}
section.line-map .level2 .map-level-yuan span {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: #3E20D2;
  border-radius: 50%;
  margin-top: 9px;
}
section.line-map .level2 .map-level-line {
  margin-top: 88px;
}
section.line-map .level2 .map-level-title {
  font-size: 30px;
  font-family: Lantinghei SC;
  font-weight: 600;
  color: #1A2444;
  text-align: left;
  /*display: inline-block;
      vertical-align: top;*/
  padding-top: 89px;
  padding-right: 15px;
  padding-left: 74px;
}
section.line-map .level2 .map-level-content {
  font-size: 20px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #1A2444;
  text-align: left;
  line-height: 36px;
  padding-left: 74px;
  /*display: inline-block;
      vertical-align: top;*/
}
section.line-map .level3 {
  border-right: 1px dashed #4443ff;
  border-radius: 0 100px 100px 0;
  border-top: 1px dashed #4443ff;
  width: 61.2%;
  float: right;
  text-align: right;
  margin-right: 14.1%;
}
section.line-map .level3 .map-level-time {
  position: absolute;
  top: 22px;
  right: 40px;
  min-width: 168px;
  border-radius: 0 20px;
}
section.line-map .level3 .map-level-yuan {
  width: 29px;
  position: absolute;
  height: 30px;
  background-color: #E9EBF0;
  right: 10px;
  top: 23px;
}
section.line-map .level3 .map-level-yuan span {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: #3E20D2;
  border-radius: 50%;
  margin-top: 9px;
}
section.line-map .level3 .map-level-line {
  margin-top: 88px;
}
section.line-map .level3 .map-level-title {
  font-size: 30px;
  font-family: Lantinghei SC;
  font-weight: 600;
  color: #1A2444;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  margin-top: 74px;
  margin-right: 45px;
}
section.line-map .level3 .map-level-content {
  font-size: 20px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #1A2444;
  text-align: right;
  line-height: 36px;
  display: inline-block;
  vertical-align: top;
  margin-right: 45px;
  margin-top: 10px;
}
section.line-map .level4 {
  border-left: 1px dashed #4443ff;
  border-radius: 100px 0 0 100px;
  border-top: 1px dashed #4443ff;
  width: 52.6%;
  float: left;
  text-align: left;
  margin-left: 24.4%;
}
section.line-map .level4 .map-level-time {
  position: absolute;
  top: 22px;
  left: 40px;
  min-width: 168px;
  border-radius: 20px 0;
}
section.line-map .level4 .map-level-yuan {
  width: 29px;
  position: absolute;
  height: 30px;
  background-color: #E9EBF0;
  left: 10px;
  top: 23px;
}
section.line-map .level4 .map-level-yuan span {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: #3E20D2;
  border-radius: 50%;
  margin-top: 9px;
}
section.line-map .level4 .map-level-line {
  margin-top: 88px;
}
section.line-map .level4 .map-level-title {
  font-size: 30px;
  font-family: Lantinghei SC;
  font-weight: 600;
  color: #1A2444;
  padding-top: 91px;
  padding-left: 74px;
  text-align: left;
}
section.line-map .level4 .map-level-content {
  width: 74%;
  font-size: 20px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #1A2444;
  padding-left: 74px;
  text-align: left;
  line-height: 36px;
  margin-top: 10px;
}
section.line-map .map-level-end {
  width: 19.6%;
  height: 150px;
  border-top: 1px dashed #4443ff;
  clear: both;
  border-right: 1px dashed #4443ff;
  margin-left: 33.9%;
}
/*英文版排版*/
.language-en section.line-map {
  height: 1150px;
}
.language-en section.line-map.line-map-ko {
  height: 1081px;
}
.language-en section.line-map .map-level-time {
  min-width: 238px;
}
.language-en section.line-map .map-level-content {
  padding-bottom: 35px;
}
.language-en section.line-map .level1 {
  border-radius: 0 240px 240px 0;
}
.language-en section.line-map .level1 .map-level-yuan {
  left: 302px;
}
.language-en section.line-map .level1 .map-level-content {
  line-height: 28px;
}
.language-en section.line-map .level2 .map-level-content {
  line-height: 36px;
}
.language-en section.line-map .level3 {
  border-radius: 0 248px 248px 0;
}
.language-en section.line-map .level3 .map-level-yuan {
  right: 16px;
  top: 23px;
  text-align: center;
}
.language-en section.line-map .level3 .map-level-time {
  right: 50px;
}
.language-en section.line-map .level3 .map-level-content {
  line-height: 26px;
}
.language-en section.line-map .level4 {
  border-radius: 265px 0 0 265px;
}
.language-en section.line-map .level4 .map-level-yuan {
  left: 23px;
  top: 23px;
  text-align: center;
}
.language-en section.line-map .level4 .map-level-time {
  left: 58px;
}
.language-en section.line-map .level4 .map-level-content {
  line-height: 26px;
}
.language-en .map-level-end {
  margin-left: 35.9%;
}
@media screen and (max-width: 1024px) {
  section.line-map .ctx-main {
    width: 959px;
    margin: 0 auto;
  }
  .language-en section.line-map .level4 {
    margin-left: 23.4%;
  }
  .language-en section.line-map .map-level-end {
    margin-left: 35.9%;
  }
}
/*底部*/
footer {
  width: 100%;
  min-width: max-content;
  min-width: -moz-max-content;
  /*height: 757px;*/
  background: url('../images/footer_bg.png') no-repeat bottom right #202A43;
  background-size: 80% 80%;
  text-align: center;
}
footer .ctx-main {
  width: 1200px;
  margin: 0 auto;
  padding: 89px 0;
}
footer .footer-btns {
  text-align: center;
}
footer .footer-btns a {
  display: inline-block;
  margin-right: 61px;
  vertical-align: middle;
  width: 269px;
  height: 66px;
  line-height: 66px;
  text-align: center;
  font-size: 22px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #ffffff;
  border: 1px solid #4443FF;
  cursor: pointer;
  text-decoration: none;
}
footer .footer-btns a:hover {
  border: 1px solid #ffffff;
}
footer .footer-btns a:last-child {
  margin-right: 0;
}
footer .footer-icons {
  margin-top: 52px;
}
footer .footer-icons a {
  display: inline-block;
  width: 52px;
  height: 51px;
  margin-right: 20px;
  vertical-align: middle;
  background-color: #ffffff;
  cursor: pointer;
}
footer .footer-icons a.icon1 {
  background: url('../images/icon_f1.png') no-repeat;
  background-size: 100% 100%;
}
footer .footer-icons a.icon1:hover {
  background: url('../images/icon_f1_h.png') no-repeat;
  background-size: 100% 100%;
}
footer .footer-icons a.icon2 {
  background: url('../images/icon_f2.png') no-repeat;
  background-size: 100% 100%;
}
footer .footer-icons a.icon2:hover {
  background: url('../images/icon_f2_h.png') no-repeat;
  background-size: 100% 100%;
}
footer .footer-icons a.icon3 {
  background: url('../images/icon_f3.png') no-repeat;
  background-size: 100% 100%;
}
footer .footer-icons a.icon3:hover {
  background: url('../images/icon_f3_h.png') no-repeat;
  background-size: 100% 100%;
}
footer .footer-icons a.icon4 {
  background: url('../images/icon_f4.png') no-repeat;
  background-size: 100% 100%;
}
footer .footer-icons a.icon4:hover {
  background: url('../images/icon_f4_h.png') no-repeat;
  background-size: 100% 100%;
}
footer .footer-icons a.icon5 {
  background: url('../images/icon_f5.png') no-repeat;
  background-size: 100% 100%;
}
footer .footer-icons a.icon5:hover {
  background: url('../images/icon_f5_h.png') no-repeat;
  background-size: 100% 100%;
}
footer .footer-icons a.icon6 {
  background: url('../images/icon_f6.png') no-repeat;
  background-size: 100% 100%;
}
footer .footer-icons a.icon6:hover {
  background: url('../images/icon_f6_h.png') no-repeat;
  background-size: 100% 100%;
}
footer .footer-icons a.icon7 {
  background: url('../images/icon_f7.png') no-repeat;
  background-size: 100% 100%;
}
footer .footer-icons a.icon7:hover {
  background: url('../images/icon_f7_h.png') no-repeat;
  background-size: 100% 100%;
}
footer .footer-icons a.icon8 {
  background: url('../images/icon_f8.png') no-repeat;
  background-size: 100% 100%;
}
footer .footer-icons a.icon8:hover {
  background: url('../images/icon_f8_h.png') no-repeat;
  background-size: 100% 100%;
}
footer .footer-info li {
  list-style-type: none;
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #ffffff;
  margin-top: 20px;
}
footer .footer-info li:first-child {
  margin-top: 38px;
}
footer .footer-info li .down-btn {
  display: block;
  margin: 38px auto 0 auto;
  width: 269px;
  height: 66px;
  line-height: 66px;
  text-align: center;
  font-size: 22px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #ffffff;
  border: 1px solid #4443FF;
  cursor: pointer;
  text-decoration: none;
  background-color: #202A43;
}
footer .footer-info li .down-btn:hover {
  border: 1px solid #ffffff;
}
@media screen and (max-width: 1024px) {
  footer .ctx-main {
    width: 959px;
  }
}
/*右侧悬浮框*/
.back_top_box {
  display: none;
  width: 58px;
  position: fixed;
  right: 40px;
  bottom: 170px;
  height: auto;
  color: #fff;
  cursor: pointer;
}
.back_top_box.showCss {
  display: block;
}
.back_top a {
  width: 58px;
  height: 58px;
  background: url('../images/icon_top.png') no-repeat center center;
  background-size: 100% 100%;
  display: block;
  margin: 10px 0 0 0;
  z-index: 888;
}
.back_top a:hover {
  background: url('../images/icon_top_h.png') no-repeat center center;
  background-size: 100% 100%;
}
